* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'QuickSand', Arial, Helvetica, sans-serif;
}
html,body {
    overflow-x: hidden !important;
}
h1 {
    display: none;
}

 header ul {
    list-style: none;
    display: flex;
    text-align: center;
}
header a {
    text-decoration: none;
    padding-right: 30px;
}   
header img {
    width: 60px;
}
.input-buscar {
    width: 100%;
    height: 50px;
}
.btn-buscar {
    position: relative;
    margin-left: -12px;
    width: 150px;
    height: 50px;
}
.dropdown:hover .dropdown-menu {
    display: block;
}
main {
    background-color: #f1f1f1;
}
/* Inicio css do rodape */
footer {
    background-color: #fff;
}
.pt-footer{
    padding-top: 60px;
}
footer img {
    width: 350px;
}
footer a, footer ul li {
    text-decoration: none;
    list-style: none;
}
footer a {
    color: #8a8a8a;
}
footer .container{
    color: #aaaaaa;
}
footer ul {
    padding-left: 0rem;
}
footer a:hover {
    color: dodgerblue;
    transition: 0.5s all;
}
/* fim css do rodape */
